{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %}">
      PlantBro {{ request.user.username }}
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-item">
      {% if request.user.is_authenticated %}
        <a href="{% url 'tasks' %}" class="navbar-item">
            Your tasks bro
        </a>
      <a href="{% url 'plant-list' %}" class="navbar-item">
        Your plants bro
      </a>
      <a href="{% url 'new_plant' %}" class="navbar-item">
        New Plant bro
      </a>
      {% endif %}
        <div class="buttons">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button is-primary">
                <strong>Log out bro</strong>
                </a>
            {% else %}
              <a href="{% url 'register' %}" class="button is-primary">
                <strong>Sign up bro</strong>
              </a>
              <a href="{% url 'login' %}" class="button is-light">
                Log in bro
              </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

    {% block content %}

    {% endblock content %}

    <footer class="footer">
    </footer>

</body>