{% extends 'plants/main.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/plant_detail.css' %}">

    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <div class="columns">
            <div class="column left">
              <h1 class="title is-1">{{ object.name }}</h1>
                <h2 class="subtitle is-4"><span class="colored">Deze plant is een bro sinds:</span> {{ object.age|date:'d-m-Y'  }}</h2>
              <p>{{ object.description }}</p>
            </div>
            <div class="column right has-text-centered">
              <h1 class="title is-4">Look at it go!</h1>
              <figure class="image is-4by5">
                  <img src="{{ object.imageURL }}" alt="Placeholder image">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}