{% extends 'plants/main.html' %}
{% load static %}
{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for plant in object_list %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="#" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ plant.name }}</span>
                                        <br>
                                        <span class="subtitle">{{ plant.age }}° C</span>
                                        <br> {{ plant.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href='#'>
                                    <button class='delete'></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}